body{
	background-image:url(/img/backgrounds/bg-main-2.jpg);
	background-repeat:repeat;
}
.main-filter{
	cursor:pointer;
}
a:hover{
	text-decoration:none;
}
.dropdown-item:hover{
	text-decoration:none;
	background-color:inherit;
}

.btn{
	border-radius:0px;
}
.card{
	display: inline-block
}
pre {
    white-space: pre-wrap;       
    white-space: -moz-pre-wrap;  
    white-space: -pre-wrap;      
    white-space: -o-pre-wrap;    
    word-wrap: break-word;
	font-size:16px;       
}
select[multiple]{
	border:none;
}